.TodaysHighlights{
    display: flex;
    flex-direction: column;
    padding: 3rem;
  }
  .cards{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .highlightsCard ,.SunriseSunset{
    background: linear-gradient(to right, #6a11cb, #2575fc);
    display: inline-block;
    text-align: center;
    margin: 10px;
    align-content: center;
    height: 100px;
    width: 228px;
    padding: 10px;
    border-radius: 5px;
  }
  .element{
    align-content:center;
    display: block;
  }