body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: rgb(60, 60, 60);
    color: white;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  .TodaysHighlights ,.SunriseSunset{
    background-color: rgb(87, 86, 86);
    display: inline-block;
    margin: 10px;
    align-content: center;
    height: 100px;
    width: 328px;
    padding: 10px;
    border-radius: 5px;
  }
  .element{
    align-content:center;
    display: block;
  }