.About {
  color: white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* background-color: rgb(53, 52, 52); */
  background: linear-gradient(to top, #6e634d,  #6d2979b0, #4c4caefa, #6c4848);
}

.team-card {
  min-width: 200px;
  max-width: 200px;
  flex: 0 0 auto;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
}

.team-img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.team-body {
  padding: 0.5rem;
  max-height: 110px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; /* Number of lines to show */
  line-clamp: 3; /* Fallback for line-clamp */
  text-overflow: ellipsis;
}
