.WeatherCard {
    background: rgba(33, 5, 5, 0.855);
    padding: 20px;
    border-radius: 10px; 
    color: white;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
    will-change: transform, box-shadow;
}

.WeatherCard:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    background: rgba(35, 3, 3, 0.652);
}