.box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); */
    padding-bottom: 3rem;
}

.weather{
    border: 3px solid #197468;
    padding: 10px;
    margin: 5px;
    width: 175px;
    border-radius: 10px;
    background-color: whitesmoke;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: larger;
    
}

.weather:hover {
    transform: translateY(5px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}


p{
    text-align: center;
}
#days{
    color: red;
}